.hero_main_vector {
	width: 773px;
	position: absolute;
	right: 0;
}

.hero-heading {
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.nav_ham {
	background-color: #fff;
	transition: all 0.5s;
}

.nav_item {
	font-family: 'Poppins', sans-serif;
	cursor: pointer;
	margin-bottom: 1rem;
}

@media screen and (min-width: 1024px) {
	.nav_item:not(:last-child) {
		margin-right: 54px;
	}
	.nav_item {
		margin-bottom: 0;
	}
}
